<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title> Home :: w3layouts</title>
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Express News Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- for bootstrap working -->
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <!-- //for bootstrap working -->
    <!-- web-fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 900);
            });
        });
    </script>
</head>
<body>
<!-- header-section-starts-here -->
<div class="header">
    <div class="header-top">
        <div class="wrap">
            <div class="top-menu">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="login/">Đăng nhập</a></li>
                    <li><a href="register/">Đăng ký</a></li>
                    <li><a href="#">Bảo mật</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="num">
                <div class="top-menu">
                    <li><a href="login/" style="font-size: 14px; color: #dfdfdf">Đăng Xuất</a></li>
            </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="navigation">
            <nav class="navbar navbar-default" role="navigation">
                <div class="wrap">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Trang chủ</a></li>
                            <li><a href="appnews/">Tin tức</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thể thao<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Trong nước</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Ngoài nước</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Bài viết</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                            <li><a href="heath/">Sức Khỏe</a></li>
                            <li><a href="#">Thời Trang</a></li>
                        </ul>
                        <div class="search">

                            <script src="{% static 'js/classie.js' %}"></script>
                            <script src="{% static 'js/uisearch.js' %}"></script>
                            <script>
                                new UISearch(document.getElementById('sb-search'));
                            </script>
                            <!-- //search-scripts -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </nav>
        </div>
    </div>

    <div class="move-text">
        <div class="breaking_news">
            <h2>Tin tức</h2>
        </div>
        <div class="clearfix"></div>
        <script type="text/javascript" src="{% static 'js/jquery.marquee.min.js' %}"></script>
        <script>
            $('.marquee').marquee({pauseOnHover: true});

        </script>
    </div>
</div>

<div class="main-body">
    <div class="wrap">
        <div class="col-md-8 content-left">
            <div class="slider">
                <div class="callbacks_wrap">
                    <ul class="rslides" id="slider">
                        <li>
                            <img src="{% static 'images/thetaho.jpg' %}" alt="" style="height: 600px;">
                            <div class="caption">
									<a href="single.html">U23 Việt Nam vô địch AFF cup</a>
                            </div>
                        </li>
                        <li>
                            <img src="{% static 'images/thoi-trang-tre-em.jpg' %}" alt=""  style="height: 600px;">
                            <div class="caption">
									<a href="single.html">Tuần lễ thời trang trẻ em</a>
                            </div>
                        </li>
                        <li>
                            <img src="{% static 'images/suckhoe1.jpg' %}" alt=""  style="height: 600px;">
                            <div class="caption">
									<a href="single.html">Sức khỏe và đời sống </a>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="article">
                <div class="article-left">
                    <a href="single/"><img src="{% static 'images/sk.jpg' %}" style=" height: 300px;"></a>
                </div>
                <div class="article-right">
                    <div class="article-title">
                        <p>21/12/2018 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0
                        </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>181 </a><a
                                class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>89</a></p>
                        <a class="title" href="single/">Tin tức tư vấn sức khỏe trong ngày</a>
                    </div>

                    <div class="article-text">
                        <p>Trong những ngày lễ hội mùa xuân, cũng thường gặp phải những “trục trặc” về sức khỏe, điển
                            hình là bệnh ở đường tiêu hóa và một số bệnh lý khác.ức sức khỏe...</p>
                        <a href="single/"><img src="{% static 'images/more.png' %}" alt=""/></a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
            <div class="article">
                <div class="article-left">
                    <a href="sports/"><img src="{% static 'images/thethao1.jpg' %}" style=" height: 300px;"></a>
                </div>
                <div class="article-right">
                    <div class="article-title">
                        <p>21/12/2018 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>1
                        </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>144 </a><a
                                class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>74</a></p>
                        <a class="title" href="sports/">Tin tức thể thao hàng ngày</a>
                    </div>
                    <div class="article-text">
                        <p>Không chỉ tạo hiệu ứng tích cực tại Việt Nam, hành trình của thầy trò HLV Park Hang-seo ở AFF
                            Cup 2018 cũng gây ra cơn sốt tại chính quê nhà của chiến lược gia người Hàn Quốc.

                            Theo Yonhap News, dù không phải trận đấu góp mặt đội tuyển quốc gia nhưng trận chung kết
                            lượt về AFF Cup 2018 giữa Việt Nam và Malaysia vẫn thu hút tới 18,1% người hâm mộ theo dõi
                            trên sóng truyền hình....</p>
                        <a href="sports/"><img src="{% static 'images/more.png' %}" alt=""/></a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
             <div class="article">
                <div class="article-left">
                    <a href="fashion/"><img src="{% static 'images/fashion.png' %}" style=" height: 300px;"></a>
                </div>
                <div class="article-right">
                    <div class="article-title">
                        <p>21/12/2018 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>1
                        </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>144 </a><a
                                class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>74</a></p>
                        <a class="title" href="fashion/">Tin tức thời trang hàng ngày</a>
                    </div>
                    <div class="article-text">
                        <p>Xu hướng thời trang quốc tế mới nhất hiện nay
                         Các Xu hướng và tin tức về thời trang nam nữ mới nhất. Hot nhất trên trang Bazaarviernam.vn về xu hướng thời trang quốc tế trong và ngoài nước.
                             Mời các bạn đón xem và theo dõi thường xuyên trên trang để cập nhật thông tin thời trang hữu ích cho mình nhé.....</p>
                        <a href="fashion/"><img src="{% static 'images/more.png' %}" alt=""/></a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>

</div>
</body>
</html>
