{% load staticfiles %}
<div class="article">
                <div class="article-left">
                    <a href="single./"><img src="{% static 'images/fashion.png' %}"></a>
                </div>
                <div class="article-right">
                    <div class="article-title">
                        <a class="title" href="single/">Tin tức thời trang hàng ngày</a>
                    </div>
                    <div class="article-text">
                        <p>Xu hướng thời trang quốc tế mới nhất hiện nay
                         Các Xu hướng và tin tức về thời trang nam nữ mới nhất. Hot nhất trên trang Bazaarviernam.vn về xu hướng thời trang quốc tế trong và ngoài nước.
                             Mời các bạn đón xem và theo dõi thường xuyên trên trang để cập nhật thông tin thời trang hữu ích cho mình nhé.....</p>
                        <a href="single/l"><img src="{% static 'images/more.png' %}" alt=""/></a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>