
{% block content %}

  <form  method="post">
    <table>
        <tr>
            <td><label for="username"> Username</label></td>
            <td><input type="text" name="username" id="username"></td>
        </tr>
        <tr>
            <td><label for="username">Password</label></td>
            <td><input type="password" name="password"></td>
        </tr>
        <p>{{error}}</p>

    </table>
      <button type="submit">Login</button>
  </form>

{% endblock %}