
 {% load staticfiles %}
	<div class="article-left">
                   <img src="{% static 'images/sk.jpg' %}">
                </div>
                <div class="article-right">
                    <div class="article-title">
                        <a class="title" href="#">Tin tức tư vấn sức khỏe trong ngày</a>
                    </div>

                    <div class="article-text">
                        <p>Trong những ngày lễ hội mùa xuân, cũng thường gặp phải những “trục trặc” về sức khỏe, điển hình là bệnh ở đường tiêu hóa và một số bệnh lý khác.
Theo thống kê, cả nước có gần 8.000 lễ hội được tổ chức trên khắp cả nước mỗi năm, chủ yếu diễn ra vào mùa xuân trong đó có những lễ hội quy mô lớn, thu hút hàng triệu người ở nhiều nơi, nhiều độ tuổi tham gia. Tuy nhiên, trong những ngày lễ hội này cũng thường gặp phải những “trục trặc” về sức khỏe, điển hình là bệnh ở đường tiêu hóa và một số bệnh lý khác nếu bạn không cảnh giác và không biết cách phòng tránh.

Các bệnh thường gặp mùa lễ hội Bệnh liên quan đến ăn uống mùa lễ hội
Tiêu chảy: Các lễ hội thường diễn ra ngoài trời nên dịch vụ ăn uống kèm theo cũng mang tính chất tạm bợ, chật chội, thiếu nước sạch, thiếu thu gom chất thải, môi trường bị ô nhiễm do bụi, ruồi, chuột… làm cho thực phẩm bị ôi thiu, nhiễm khuẩn nhưng du khách lại có tâm lý “khuất mắt trông coi, ăn qua quýt cho xong bữa” dễ gây tiêu chảy. Đây là bệnh thường gặp nhất nhưng cũng dễ phòng tránh nếu hạn chế sử dụng dịch vụ bán rong tại lễ hội.


</p>
                       <img src="{% static 'images/more.png' %}" alt=""/>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
