{% load staticfiles %}
<div class="article">
                <div class="article-left">
                    <a href="single./"><img src="{% static 'images/thethao1.jpg' %}"></a>
                </div>
                <div class="article-right">
                    <div class="article-title">
                        <a class="title" href="single/">Tin tức thể thao hàng ngày</a>
                    </div>
                    <div class="article-text">
                        <p>Không chỉ tạo hiệu ứng tích cực tại Việt Nam, hành trình của thầy trò HLV Park Hang-seo ở AFF
                            Cup 2018 cũng gây ra cơn sốt tại chính quê nhà của chiến lược gia người Hàn Quốc.

                            Theo Yonhap News, dù không phải trận đấu góp mặt đội tuyển quốc gia nhưng trận chung kết
                            lượt về AFF Cup 2018 giữa Việt Nam và Malaysia vẫn thu hút tới 18,1% người hâm mộ theo dõi
                            trên sóng truyền hình....</p>
                        <a href="single/l"><img src="{% static 'images/more.png' %}" alt=""/></a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>