
{% for post in Posts  %}
<h4>
    {{post.date|date:"d-m-Y"}}<a href="/appnews/{{post.id}}">{{post.title}}</a>
</h4>
{% if post.image %}
    <img src="{{post.image.url }} " width ="100px" height="50px" >
{% endif %}
{% endfor %}
