
{% block title%}{{post.title}}{% endblock %}
{% load staticfiles %}

</h4>
<h6>on {{post.date}}</h6>
{% if post.image %}
<img src="{{post.image.url }}" width ="500px" height="300px" >
{% endif %}
{{post.body|safe|linebreaks}}
